<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to "Sign out", destroy_member_session_path, :method => :delete %>
<%= link_to "Sign in", member_session_path, :method => :create %>

<%= render 'layouts/header' %>
<%= render 'layouts/navigation' %>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= yield %>
<%= render 'layouts/footer' %>

</body>
</html>
